blog_to_linkedin_post-.json
{
  "updatedAt": "2026-06-28T18:54:03.359Z",
  "createdAt": "2026-06-28T18:44:47.167Z",
  "id": "G3ExPkL46ORWrjtM",
  "name": "Blog_to_LinkedIn_post",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "cfddfffa-ca43-4280-9b31-973be73406dd",
      "name": "Blog Post Content",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -432,
        -144
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "blog_post",
              "name": "blog_post",
              "value": "n8n Foundations is here\n\nWe just launched n8n Foundations, our new free learning program designed to get you up and running with n8n as quickly as possible. Whether you are brand new to automation or you have been dabbling for a while, Foundations gives you a structured path to build real workflows with confidence.\n\nThe program covers the core concepts you need to know -- how n8n works, how to connect your tools, how to handle data, and how to build automations that actually hold up in production. It is practical by design. Every lesson is built around things you will actually do, not just theory.\n\nWe built Foundations because we kept hearing the same thing from the community: getting started is the hardest part. So we built something that removes that barrier and gets you building faster.\n\nYou can start for free today at learn.n8n.io.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "7722e7e4-1b21-4ec2-90b8-5a01a99614b3",
      "name": "Set Blog Post",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -208,
        -144
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a social media writer. Take the following blog post and rewrite it as a LinkedIn post. Keep it under 200 words. Write in a conversational, first-person tone. Do not use hashtags unless they add real value. Avoid filler phrases like excited to share or thrilled to announce.\n\nBlog post:\n{{ $json.blog_post }}",
        "batching": {}
      },
      "id": "27b18731-91ec-4429-acf3-1f944e2da7a9",
      "name": "Generate LinkedIn Post",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        16,
        -144
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "76ee8cd2-8d8a-487c-851a-29d09aa27ab1",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        16,
        48
      ],
      "credentials": {
        "anthropicApi": {
          "id": "GuOSHrDEwMmzyXl7",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "postAs": "organization",
        "additionalFields": {}
      },
      "id": "8f19a62d-a15b-4153-8fab-641748bf829c",
      "name": "Create a post",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        368,
        -144
      ]
    }
  ],
  "connections": {
    "Blog Post Content": {
      "main": [
        [
          {
            "node": "Set Blog Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Blog Post": {
      "main": [
        [
          {
            "node": "Generate LinkedIn Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LinkedIn Post": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate LinkedIn Post",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "313e1c3c-c67d-49e0-9226-e2ee70e72d77",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-28T18:44:47.172Z",
      "createdAt": "2026-06-28T18:44:47.172Z",
      "role": "workflow:owner",
      "workflowId": "G3ExPkL46ORWrjtM",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": []
}