broken-workflow-foundations-course.json
{
  "updatedAt": "2026-07-05T19:08:44.111Z",
  "createdAt": "2026-07-05T18:27:45.553Z",
  "id": "MKGiJmIOl6XMjhq2",
  "name": "Broken Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        96
      ],
      "id": "b554e5aa-5fab-431f-8b77-0d9d941ae292",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n103/orders-broken",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        0
      ],
      "id": "4a3b177f-79b0-4929-990a-2dff3d8918a1",
      "name": "GetOrders",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n103/customers-broken",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -288,
        208
      ],
      "id": "9a4e1631-e5f3-4faf-acbe-b705af8d8ed3",
      "name": "GetCustomers",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "customer_id",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        112
      ],
      "id": "f6bd2374-91d8-42c6-b38c-b9a7b072641f",
      "name": "MergeOrdersCustomers"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://learn.app.n8n.cloud/webhook/course/n8n103/debug-result",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "enriched_orders",
              "value": "={{ $(\"AggregateOrders\").item.json.enriched_orders }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        528,
        112
      ],
      "id": "b94eb9d2-2d90-4ca3-9691-6da678644235",
      "name": "SendToOrdersQueue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5d311efe-0ad8-40d2-a332-62ea7dd0f0fe",
              "name": "customer_id",
              "value": "unknown",
              "type": "string"
            },
            {
              "id": "6fbed7f6-a569-4a97-b1bc-06e8d0152a91",
              "name": "company_name",
              "value": "Unknown Company",
              "type": "string"
            },
            {
              "id": "c8f0e827-c874-4a94-97d8-a0818ea7e121",
              "name": "subscription",
              "value": "Starter",
              "type": "string"
            },
            {
              "id": "60e84d59-75be-4b21-bf08-abaa04b2b3f9",
              "name": "account_manager",
              "value": "Unassigned",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        272
      ],
      "id": "d55e12fc-dca2-4242-93ce-4879419db4fb",
      "name": "SetFallbackCustomer"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "enriched_orders",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        288,
        112
      ],
      "id": "aa83a42d-8dcb-4a5e-845d-b0c9f12262db",
      "name": "AggregateOrders"
    },
    {
      "parameters": {
        "content": "# Section 2 - Fix Broken Workflow\n\nOwned By: Gary Safin\nLast Updated: 20260705\n\nIntentionally broken workflow for debugging practice.\nThis workflow had 3 issues that were fixed.\n\n## Expected Flow (when fixed)\n1. TriggerManual: Starts workflow\n2. GetOrders: Fetches order data from Academy API\n3. GetCustomers: Fetches customer data from Academy API\n4. SetFallbackCustomer: Provides fallback if GetCustomers fails\n5. MergeOrdersCustomers: Joins orders with customer data\n6. SendToOrdersQueue: Submits enriched orders for validation\n\n## Issues Fixed\n1. GetOrders: Missing Header Auth credential and X-Assessment-ID\n2. MergeOrdersCustomers: Match field was \"customerId\" instead of \"customer_id\"\n3. SendToOrdersQueue: Referenced deleted \"AggregateOrders\" node\n\n## Validation Endpoint\n- POST /webhook/course/foundations/s5/debug-result\n- Returns confirmation code when all issues are fixed\n\nPart of: n8n Foundations Program N8N103 Course, Section 2"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        416,
        304
      ],
      "id": "9318f128-2314-48a7-8b81-472142620429",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetOrders",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrders": {
      "main": [
        [
          {
            "node": "MergeOrdersCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomers": {
      "main": [
        [
          {
            "node": "MergeOrdersCustomers",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "SetFallbackCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeOrdersCustomers": {
      "main": [
        [
          {
            "node": "AggregateOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFallbackCustomer": {
      "main": [
        [
          {
            "node": "MergeOrdersCustomers",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AggregateOrders": {
      "main": [
        [
          {
            "node": "SendToOrdersQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "301684c0-992a-4cfa-9152-f3311f7af5bf",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-05T18:27:45.560Z",
      "createdAt": "2026-07-05T18:27:45.560Z",
      "role": "workflow:owner",
      "workflowId": "MKGiJmIOl6XMjhq2",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-07-05T18:27:52.923Z",
      "createdAt": "2026-07-05T18:27:52.923Z",
      "id": "sgjIQvfpng1jeYxP",
      "name": "foundations-course"
    }
  ]
}