datawf2-.json
{
  "updatedAt": "2026-06-28T12:42:40.202Z",
  "createdAt": "2026-06-23T20:08:22.667Z",
  "id": "RR3sIjpRvioEj7we",
  "name": "DataWF2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -16
      ],
      "id": "6c17ebfa-514d-460d-94c4-6e4bb8e13c06",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { totalCustomers: $input.all().length } }]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -16
      ],
      "id": "2ca59ca8-d7d6-4c15-95b2-902470dc20fb",
      "name": "CountCustomers"
    },
    {
      "parameters": {
        "operation": "getAllPeople"
      },
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "typeVersion": 1,
      "position": [
        -64,
        -16
      ],
      "id": "d2b7b985-33ee-43d9-89e7-59d47b8b1e59",
      "name": "GetCustomers"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "451dde86-1f65-498a-ac21-852314c6a1a2",
              "name": "summary",
              "value": "={{ $('GetCustomers').first().json.name }} is one of {{ $('CountCustomers').first().json.totalCustomers }} customers",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        -16
      ],
      "id": "bbdbb29b-30ed-45c3-bb56-d79c1120eeb5",
      "name": "SetSummary"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CountCustomers": {
      "main": [
        [
          {
            "node": "SetSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomers": {
      "main": [
        [
          {
            "node": "CountCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "28156a43-05df-462d-ac3f-b18b1b79b0ca",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-23T20:08:22.668Z",
      "createdAt": "2026-06-23T20:08:22.668Z",
      "role": "workflow:owner",
      "workflowId": "RR3sIjpRvioEj7we",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": []
}