datawf9_loop_rss-.json
{
  "updatedAt": "2026-07-07T09:57:04.191Z",
  "createdAt": "2026-06-24T14:25:03.919Z",
  "id": "mNRh1tWqfb51qndp",
  "name": "DataWF9_loop_RSS",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        -16
      ],
      "id": "2394ee31-ce0a-4517-b1be-88a7afe879dc",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      url: 'https://medium.com/feed/n8n-io'\n    }\n  },\n  {\n    json: {\n      url: 'https://dev.to/feed/n8n'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -48
      ],
      "id": "dea28520-fa29-46ba-aa11-434013d340ed",
      "name": "FeedURLs"
    },
    {
      "parameters": {
        "batchSize": 100,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        -16
      ],
      "id": "85b1df87-5256-4b83-994b-6ef754be31ea",
      "name": "BatchFeeds"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        240,
        64
      ],
      "id": "b94d21f0-e6d0-4ef0-8da1-e32e9477098d",
      "name": "ReadFeed"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "FeedURLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FeedURLs": {
      "main": [
        [
          {
            "node": "BatchFeeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BatchFeeds": {
      "main": [
        [],
        [
          {
            "node": "ReadFeed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadFeed": {
      "main": [
        [
          {
            "node": "BatchFeeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "9c60fa3c-1bf8-45a3-b608-c2241d05ca7a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-24T14:25:03.922Z",
      "createdAt": "2026-06-24T14:25:03.922Z",
      "role": "workflow:owner",
      "workflowId": "mNRh1tWqfb51qndp",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": []
}