generating-reports-.json
{
  "updatedAt": "2026-06-27T13:10:03.904Z",
  "createdAt": "2026-06-24T15:39:00.405Z",
  "id": "Fz8cro9UOvcg7ZFh",
  "name": "Generating Reports",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -80
      ],
      "id": "3cd05964-bd2b-4ca2-b221-41933259cd08",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -704,
        -160
      ],
      "id": "33797cd0-ceec-404d-9cd2-2e5e7b1d501f",
      "name": "GetOrderData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jT4J2f6Tm662JuCc",
          "name": "n8n Quickstart Header Auth acct Course 1"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "7qhmlu4SwTsq6W3A",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "/projects/7yVA2UbfXRYAJ8zK/datatables/7qhmlu4SwTsq6W3A"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -704,
        64
      ],
      "id": "f77dabb7-c83e-442e-bcc9-e8bba01179fe",
      "name": "GetCustomers"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "=customerID",
              "field2": "customerID"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -480,
        -48
      ],
      "id": "3f3d34d6-6e6e-4736-b5d2-91f7d1087a97",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7322802f-702e-47c4-99c2-46312f0d2429",
              "name": "=orderTotal",
              "value": "={{ $json.orderPrice * $json.quantity}}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -272,
        -48
      ],
      "id": "80f1e44d-3b85-458b-ade6-51ab1bd14be0",
      "name": "CalculateTotal"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        -48
      ],
      "id": "9105a4bd-8428-4a5d-8510-e5d43669462a",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/upload-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        768,
        -48
      ],
      "id": "9c7652a8-8413-4344-a72a-076436a47c6d",
      "name": "UploadReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jT4J2f6Tm662JuCc",
          "name": "n8n Quickstart Header Auth acct Course 1"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "orderTotal"
            },
            {
              "field": "orderTotal"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {
          "outputFormat": "separateItems"
        }
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        144,
        256
      ],
      "id": "b5271808-aca6-4b50-9d09-1cd4ad39d1ad",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "sum_orderTotal",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        352,
        320
      ],
      "id": "2f210699-b0ae-4506-b12c-bc276c010663",
      "name": "SortSummary"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "orderTotal",
              "order": "descending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        -64,
        -48
      ],
      "id": "014f5dea-66c8-4064-8df3-645930cef37d",
      "name": "SortByTotal"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1d2e6197-1d0a-400e-bca2-5da07b2882b9",
              "leftValue": "={{ $json.region }}",
              "rightValue": "Europe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        352,
        -48
      ],
      "id": "f5daa76b-0713-4465-afa6-8cb9d1286e99",
      "name": "EuropeOnly"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        560,
        160
      ],
      "id": "b5be51e8-788d-4360-b200-816380f313c3",
      "name": "SummaryToCSV"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6806ff86-881b-4fff-b72c-bbef732d12b7",
              "name": "discord_message",
              "value": "=[94c941de557ed8e767ebf9ee7b65f3ae] Regional Sales Summary: {{ $json.region }} - {{ $json.count_orderTotal }} orders, total: ${{ $json.sum_orderTotal.toFixed(2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        320
      ],
      "id": "a24ce135-ff69-46f6-a40f-20bf22e43a4c",
      "name": "BuildDiscordMessage"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "={{ $('BuildDiscordMessage').item.json.discord_message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1008,
        320
      ],
      "id": "b936f929-6333-453f-b70c-1eb0bf727896",
      "name": "SendToDiscord",
      "webhookId": "b98620a6-e89e-4958-90f0-a1bb97097552",
      "credentials": {
        "discordWebhookApi": {
          "id": "htGrkycXUo54SVcr",
          "name": "n8n Quickstart S2 Discord Webhook account"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetOrderData",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrderData": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomers": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "CalculateTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateTotal": {
      "main": [
        [
          {
            "node": "SortByTotal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "UploadReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "SortSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SortByTotal": {
      "main": [
        [
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          },
          {
            "node": "EuropeOnly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EuropeOnly": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SortSummary": {
      "main": [
        [
          {
            "node": "SummaryToCSV",
            "type": "main",
            "index": 0
          },
          {
            "node": "BuildDiscordMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummaryToCSV": {
      "main": [
        []
      ]
    },
    "BuildDiscordMessage": {
      "main": [
        [
          {
            "node": "SendToDiscord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "WrT6CQtAhFe4Jdmq",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "caea30ba-50bc-41fb-92ed-d727d41994f9",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-24T15:39:00.407Z",
      "createdAt": "2026-06-24T15:39:00.407Z",
      "role": "workflow:owner",
      "workflowId": "Fz8cro9UOvcg7ZFh",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": []
}