meeting-notes-summary-.json
{
  "updatedAt": "2026-06-28T18:57:37.824Z",
  "createdAt": "2026-06-28T18:57:21.027Z",
  "id": "xFUVhDZfetkLNXOf",
  "name": "Meeting notes Summary",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "4ab3d0ee-5b13-4001-a2ff-8ba30875977d",
      "name": "Run workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        -64
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "transcript",
              "name": "transcript",
              "value": "[00:00:03] Sarah: OK I think everyone is here. Let us get started. Quick sync on the product roadmap before the all-hands on Friday.\n\n[00:00:11] Marcus: Yeah I have a hard stop at 3 so let us keep it moving.\n\n[00:00:14] Sarah: Sure. So first thing, the onboarding flow redesign. Priya where are we with that?\n\n[00:00:19] Priya: Design is done, dev picked it up on Monday. We are looking at end of next week for staging. There is one open question about the progress indicator, whether it should be step-based or percentage. I need a call with Tom to close that out.\n\n[00:00:33] Sarah: OK let us get that call in the diary before Wednesday. Marcus can you own that?\n\n[00:00:38] Marcus: Yeah I will reach out to Tom today.\n\n[00:00:41] Sarah: Good. Second thing, the API rate limit issue that came up last week. Any update?\n\n[00:00:47] Marcus: Yeah so we traced it back to the webhook retry logic. It was hammering the endpoint on failures. Fix is in review now, should be merged by tomorrow.\n\n[00:00:56] Sarah: Does that need a comms to affected customers or are we OK?\n\n[00:01:01] Marcus: I would say we send something short. Nothing alarming, just acknowledge it and confirm it is fixed. I can draft something after this.\n\n[00:01:08] Sarah: Please do. Run it past me before it goes out. Priya, anything else from your side?\n\n[00:01:14] Priya: One thing. The mobile app crash reports from last Thursday, we still do not have a root cause. I am waiting on logs from the infrastructure team. I chased them yesterday, they said today.\n\n[00:01:25] Sarah: OK flag it to me if you have not heard back by end of day. I will escalate if needed.\n\n[00:01:30] Priya: Will do.\n\n[00:01:32] Sarah: Alright I think that is everything. Marcus, quick reminder the roadmap deck needs to be updated before Friday. Can you get me a draft by Thursday morning?\n\n[00:01:41] Marcus: Yes, Thursday morning, no problem.\n\n[00:01:44] Sarah: Great. Thanks everyone.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "946ba37d-d255-403e-8389-c686710f9880",
      "name": "Meeting Transcript",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -192,
        -64
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Summarize this meeting transcript.\n\n<transcript>\n{{ $json.transcript }}\n</transcript>",
        "messages": {
          "messageValues": [
            {
              "message": "=You are a meeting transcript summarizer. You extract key discussion points and action items from transcripts.\n\nFormat every response exactly like this, using Slack mrkdwn:\n\n*Key Points*\n- First point\n- Second point\n\n*Action Items*\n- *Name*: What they agreed to do\n- *Name*: What they agreed to do\n\nRules:\n- Be concise. No filler. No repeated points.\n- Return only the formatted text. No preamble, no commentary, no code blocks.\n- Bold person names in action items."
            }
          ]
        },
        "batching": {}
      },
      "id": "86ac8730-e61b-4782-ad28-4c499a06a0c3",
      "name": "Summarize Transcript",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        32,
        -64
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-6",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4.6"
        },
        "options": {}
      },
      "id": "4ea6129c-baa0-4dbf-bfa7-a50e7cc8760d",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        32,
        144
      ],
      "credentials": {
        "anthropicApi": {
          "id": "GuOSHrDEwMmzyXl7",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "text": "={{ $json.text }}",
        "otherOptions": {}
      },
      "id": "139957f5-a153-4314-a0fa-91b512079d99",
      "name": "Send Summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        432,
        -64
      ],
      "webhookId": "e8b8e841-0ee3-40bd-a577-891c8c3a24dd"
    }
  ],
  "connections": {
    "Run workflow": {
      "main": [
        [
          {
            "node": "Meeting Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Transcript": {
      "main": [
        [
          {
            "node": "Summarize Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Transcript": {
      "main": [
        [
          {
            "node": "Send Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Transcript",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "82c839d7-21c1-4ee5-b98f-ed8e750fe6cd",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-28T18:57:21.030Z",
      "createdAt": "2026-06-28T18:57:21.030Z",
      "role": "workflow:owner",
      "workflowId": "xFUVhDZfetkLNXOf",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": []
}