merging-data-.json
{
  "updatedAt": "2026-06-27T13:10:12.691Z",
  "createdAt": "2026-06-24T15:11:50.980Z",
  "id": "MQyWeG6wINr2Ww2G",
  "name": "Merging Data",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -944,
        -128
      ],
      "id": "fe7e5b37-7af3-4ae1-b293-2e7066367b9a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "7qhmlu4SwTsq6W3A",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "/projects/7yVA2UbfXRYAJ8zK/datatables/7qhmlu4SwTsq6W3A"
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -736,
        -128
      ],
      "id": "e40bff7d-ceee-4193-8ec7-b51eb64a82d7",
      "name": "GetCustomers",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/countries",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -528,
        -128
      ],
      "id": "54f0e7a9-ed1c-46ac-8fa0-b09df58fb74a",
      "name": "GetCountries",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "customerCountry",
              "field2": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -288,
        -288
      ],
      "id": "1e5879a3-061c-4e27-a9ff-f8112808b40c",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "7qhmlu4SwTsq6W3A",
          "mode": "list",
          "cachedResultName": "customers",
          "cachedResultUrl": "/projects/7yVA2UbfXRYAJ8zK/datatables/7qhmlu4SwTsq6W3A"
        },
        "filters": {
          "conditions": [
            {
              "keyValue": "={{ $json.id}}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "region": "={{ $json.region }}",
            "subregion": "={{ $json.subregion }}",
            "customerID": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerCountry",
              "displayName": "customerCountry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerEmail",
              "displayName": "customerEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerSince",
              "displayName": "customerSince",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "region",
              "displayName": "region",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subregion",
              "displayName": "subregion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -80,
        -288
      ],
      "id": "ae167253-5a76-4ee1-9434-db2b8df2b784",
      "name": "UpdateCustomers"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomers": {
      "main": [
        [
          {
            "node": "GetCountries",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCountries": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "UpdateCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "b3b79792-30c4-4389-a698-fca8a9263124",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-24T15:11:50.982Z",
      "createdAt": "2026-06-24T15:11:50.982Z",
      "role": "workflow:owner",
      "workflowId": "MQyWeG6wINr2Ww2G",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": []
}