nathan's-workflow-.json
{
  "updatedAt": "2026-06-23T14:19:06.417Z",
  "createdAt": "2026-06-23T12:29:55.521Z",
  "id": "lHZQ18Goe9KoszGf",
  "name": "Nathan's workflow",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        80
      ],
      "id": "e42c90c1-0205-4a55-af93-aefb52ad6909",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "psCx7Q0Amhp70XXX",
          "mode": "list",
          "cachedResultName": "processingOrders",
          "cachedResultUrl": "/projects/7yVA2UbfXRYAJ8zK/datatables/psCx7Q0Amhp70XXX"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "orderID",
              "keyValue": "={{ $json.orderID }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        496,
        -112
      ],
      "id": "ac796b36-db08-4101-8c46-ead4cd4fe006",
      "name": "UpsertOrders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4a1ec2fd-dbce-4cdd-96d0-a1c230b0fc06",
              "leftValue": "={{ $json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "c3ed3a55-3107-4fe3-aafa-d19a71acebf9",
              "leftValue": "={{ $json.employeeName }}",
              "rightValue": "Mario",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        112,
        0
      ],
      "id": "c6ef350b-f251-42bd-996b-166fe3415657",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fc93d5fa-6a50-4339-8468-000262a395f6",
              "name": "orderID",
              "value": "={{ $json.orderID }}",
              "type": "string"
            },
            {
              "id": "4881f1cf-7bef-4ea0-8356-d4394daee2f0",
              "name": "employeeName",
              "value": "={{ $json.employeeName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -112
      ],
      "id": "65b37238-506e-4ba3-b96e-73a2acf150d3",
      "name": "SetProcessingData"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        96
      ],
      "id": "c7611b64-9c50-4c95-80ce-93b683a9098f",
      "name": "CalculateBookedOrders"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json.totalBooked}} booked orders with a total value of {{$json.bookedSum.round(2)}}. My Assessment ID: {{ $('GetDataFromWarehouse').params.headerParameters.parameters[0].value }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        528,
        96
      ],
      "id": "98548e3b-bd63-436a-8808-c299eff77801",
      "name": "n8n Quickstart S1 Discord Webhook account",
      "webhookId": "fe179711-7967-45b3-b1d6-7457be712f45",
      "credentials": {
        "discordWebhookApi": {
          "id": "Y43Cy3H9yoyQFJ9N",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-warehouse",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-assessment-id",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        0
      ],
      "id": "1c4b7f82-c6c5-47f3-a4c3-d25551cd00c1",
      "name": "GetDataFromWarehouse",
      "credentials": {
        "httpHeaderAuth": {
          "id": "jT4J2f6Tm662JuCc",
          "name": "n8n Quickstart Header Auth acct Course 1"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -288,
        -128
      ],
      "id": "1d1e3748-d2cb-46ca-83fe-4a79f4ec58c1",
      "name": "TriggerMondays9am"
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        -272
      ],
      "id": "e37fec06-79bf-4522-967e-31b209a207e7",
      "name": "CalculateBookedProcessingOrders"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SetProcessingData",
            "type": "main",
            "index": 0
          },
          {
            "node": "CalculateBookedProcessingOrders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CalculateBookedOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetProcessingData": {
      "main": [
        [
          {
            "node": "UpsertOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CalculateBookedOrders": {
      "main": [
        [
          {
            "node": "n8n Quickstart S1 Discord Webhook account",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetDataFromWarehouse": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TriggerMondays9am": {
      "main": [
        [
          {
            "node": "GetDataFromWarehouse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": {
    "node:TriggerMondays9am": {
      "recurrenceRules": [
        null
      ],
      "recurrenceRuleSignatures": [
        null
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "201ed9e5-1ecc-45da-84ff-54b23c27603e",
  "activeVersionId": "65eccc45-f5ff-468c-a8e9-367b020bb837",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-06-23T12:29:55.524Z",
      "createdAt": "2026-06-23T12:29:55.524Z",
      "role": "workflow:owner",
      "workflowId": "lHZQ18Goe9KoszGf",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-06-23T14:03:12.000Z",
    "createdAt": "2026-06-23T13:58:49.555Z",
    "versionId": "65eccc45-f5ff-468c-a8e9-367b020bb837",
    "workflowId": "lHZQ18Goe9KoszGf",
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -304,
          80
        ],
        "id": "e42c90c1-0205-4a55-af93-aefb52ad6909",
        "name": "When clicking ‘Execute workflow’"
      },
      {
        "parameters": {
          "operation": "upsert",
          "dataTableId": {
            "__rl": true,
            "value": "psCx7Q0Amhp70XXX",
            "mode": "list",
            "cachedResultName": "processingOrders",
            "cachedResultUrl": "/projects/7yVA2UbfXRYAJ8zK/datatables/psCx7Q0Amhp70XXX"
          },
          "filters": {
            "conditions": [
              {
                "keyName": "orderID",
                "keyValue": "={{ $json.orderID }}"
              }
            ]
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [],
            "schema": [
              {
                "id": "orderID",
                "displayName": "orderID",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "employeeName",
                "displayName": "employeeName",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.dataTable",
        "typeVersion": 1.1,
        "position": [
          496,
          -112
        ],
        "id": "ac796b36-db08-4101-8c46-ead4cd4fe006",
        "name": "UpsertOrders"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 3
            },
            "conditions": [
              {
                "id": "4a1ec2fd-dbce-4cdd-96d0-a1c230b0fc06",
                "leftValue": "={{ $json.orderStatus }}",
                "rightValue": "processing",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          112,
          0
        ],
        "id": "c6ef350b-f251-42bd-996b-166fe3415657",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fc93d5fa-6a50-4339-8468-000262a395f6",
                "name": "orderID",
                "value": "={{ $json.orderID }}",
                "type": "string"
              },
              {
                "id": "4881f1cf-7bef-4ea0-8356-d4394daee2f0",
                "name": "employeeName",
                "value": "={{ $json.employeeName }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          320,
          -112
        ],
        "id": "65b37238-506e-4ba3-b96e-73a2acf150d3",
        "name": "SetProcessingData"
      },
      {
        "parameters": {
          "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.orderPrice;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          320,
          96
        ],
        "id": "c7611b64-9c50-4c95-80ce-93b683a9098f",
        "name": "CalculateBookedOrders"
      },
      {
        "parameters": {
          "authentication": "webhook",
          "content": "=This week we've {{$json.totalBooked}} booked orders with a total value of {{$json.bookedSum.round(2)}}. My Assessment ID: {{ $('GetDataFromWarehouse').params.headerParameters.parameters[0].value }}",
          "options": {}
        },
        "type": "n8n-nodes-base.discord",
        "typeVersion": 2,
        "position": [
          528,
          96
        ],
        "id": "98548e3b-bd63-436a-8808-c299eff77801",
        "name": "n8n Quickstart S1 Discord Webhook account",
        "webhookId": "fe179711-7967-45b3-b1d6-7457be712f45",
        "credentials": {
          "discordWebhookApi": {
            "id": "Y43Cy3H9yoyQFJ9N",
            "name": "Discord Webhook account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://learn.app.n8n.cloud/webhook/courses/n8n-quickstart/company-warehouse",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "x-assessment-id",
                "value": "94c941de557ed8e767ebf9ee7b65f3ae"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          -96,
          0
        ],
        "id": "1c4b7f82-c6c5-47f3-a4c3-d25551cd00c1",
        "name": "GetDataFromWarehouse",
        "credentials": {
          "httpHeaderAuth": {
            "id": "jT4J2f6Tm662JuCc",
            "name": "n8n Quickstart Header Auth acct Course 1"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "weeks",
                "triggerAtDay": [
                  1
                ],
                "triggerAtHour": 9
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          -288,
          -128
        ],
        "id": "1d1e3748-d2cb-46ca-83fe-4a79f4ec58c1",
        "name": "TriggerMondays9am"
      }
    ],
    "connections": {
      "When clicking ‘Execute workflow’": {
        "main": [
          [
            {
              "node": "GetDataFromWarehouse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "SetProcessingData",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "CalculateBookedOrders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SetProcessingData": {
        "main": [
          [
            {
              "node": "UpsertOrders",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "CalculateBookedOrders": {
        "main": [
          [
            {
              "node": "n8n Quickstart S1 Discord Webhook account",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GetDataFromWarehouse": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "TriggerMondays9am": {
        "main": [
          [
            {
              "node": "GetDataFromWarehouse",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Garry Sa",
    "name": "Version 65eccc45",
    "description": "",
    "autosaved": true
  },
  "tags": []
}