scrape-summ-web-pages-.json
{
  "updatedAt": "2026-07-18T15:25:05.236Z",
  "createdAt": "2026-07-18T15:08:13.494Z",
  "id": "s6j78eLsP6dd3Uec",
  "name": "Scrape Summ Web Pages",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "aeb276e6-e6c4-4174-a4f8-6454e94bbe32",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        -1824,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Scrape latest Paul Graham essays",
        "height": 285.66037735849045,
        "width": 1071.752021563343
      },
      "id": "1d2a04d4-1ee5-462d-8153-f5dd2ad916fa",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1616,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Summarize them with GPT",
        "height": 607,
        "width": 625
      },
      "id": "a5957e39-4006-4f84-8126-24c95fe40c80",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://www.paulgraham.com/articles.html",
        "options": {}
      },
      "id": "6fb16e76-0402-4111-b687-ee08fc925f31",
      "name": "Fetch Essay List",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -1536,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "5f938ffe-6bb0-4c42-9159-27d6da6074ca",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -272,
        528
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "ryakd5x2Cf67odb1",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "essay",
              "cssSelector": "table table a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "id": "11543ee8-70a6-4f7a-8799-3210491d0195",
      "name": "Extract essay names",
      "type": "n8n-nodes-base.html",
      "position": [
        -1344,
        304
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fieldToSplitOut": "essay",
        "options": {}
      },
      "id": "88a07c66-abb8-4cbf-ac3a-e3fc73ffa162",
      "name": "Split out into items",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -1136,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "=http://www.paulgraham.com/{{ $json.essay }}",
        "options": {}
      },
      "id": "ef841c98-c209-427a-bd39-5af9b7ef56d9",
      "name": "Fetch essay texts",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -736,
        304
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            }
          ]
        },
        "options": {}
      },
      "id": "81bb6643-2eb2-4165-ab75-2c80a5aa88c3",
      "name": "Extract title",
      "type": "n8n-nodes-base.html",
      "position": [
        -240,
        0
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operationMode": "documentLoader",
        "options": {}
      },
      "id": "0664e505-5882-4c5f-81e8-357c93c4c738",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -240,
        304
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7b337b47-a1c6-470e-881f-0c038b4917e5",
              "name": "title",
              "type": "string",
              "value": "={{ $json.title }}"
            },
            {
              "id": "ca820521-4fff-4971-84b5-e6e2dbd8bb7a",
              "name": "summary",
              "type": "string",
              "value": "={{ $json.response.text }}"
            },
            {
              "id": "0fd9b5e3-44dd-49a3-82c1-3a4aa4698376",
              "name": "url",
              "type": "string",
              "value": "=http://www.paulgraham.com/{{ $('Limit to first 3').first().json.essay }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9c229dc0-636a-4951-a154-e63d29f54f49",
      "name": "Clean up",
      "type": "n8n-nodes-base.set",
      "position": [
        464,
        304
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "a24f439c-0275-4c63-98e9-99452d63c758",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        256,
        304
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('Extract Text Only').item.json.data }}",
        "options": {}
      },
      "id": "98a413b4-461d-434e-8dc6-e5dd02885970",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -160,
        528
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chunkSize": 6000,
        "options": {}
      },
      "id": "5fc859d9-d0c6-4c9c-b518-566dfe9ea9a7",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -80,
        656
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "id": "c6b6a2e0-61fb-43d6-a4ea-91e58e8ad8f9",
      "name": "Limit to first 3",
      "type": "n8n-nodes-base.limit",
      "position": [
        -944,
        304
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "data",
              "cssSelector": "body",
              "skipSelectors": "img,nav"
            }
          ]
        },
        "options": {}
      },
      "id": "7ae7019b-0f90-48f0-a31e-5d519c172ccf",
      "name": "Extract Text Only",
      "type": "n8n-nodes-base.html",
      "position": [
        -416,
        304
      ],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Fetch Essay List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Essay List": {
      "main": [
        [
          {
            "node": "Extract essay names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract essay names": {
      "main": [
        [
          {
            "node": "Split out into items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split out into items": {
      "main": [
        [
          {
            "node": "Limit to first 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch essay texts": {
      "main": [
        [
          {
            "node": "Extract title",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Text Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract title": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Limit to first 3": {
      "main": [
        [
          {
            "node": "Fetch essay texts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text Only": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "c1cb3e45-2f76-4400-85c7-052c8dbecd84",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-18T15:08:13.499Z",
      "createdAt": "2026-07-18T15:08:13.499Z",
      "role": "workflow:owner",
      "workflowId": "s6j78eLsP6dd3Uec",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": []
}