section-2---debugging-practice-n8n103-course.json
{
  "updatedAt": "2026-07-05T13:45:44.651Z",
  "createdAt": "2026-07-05T12:27:06.301Z",
  "id": "I4HwLM3svEdeqHBE",
  "name": "Section 2 - Debugging Practice",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        16
      ],
      "id": "5a82e1fc-ee40-41da-bffc-25b75ac14016",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n103/unreliable-api",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -272,
        16
      ],
      "id": "5ceebe06-d6ce-408c-8897-e5abe0326a8f",
      "name": "GetUnreliableData",
      "retryOnFail": true,
      "maxTries": 5,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/webhook/course/n8n103/retry-result",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "confirmation_code",
              "value": "={{ $json.confirmation_code }}"
            },
            {
              "name": "order_id",
              "value": "={{ $json.order.order_id }}"
            },
            {
              "name": "customer_name",
              "value": "={{ $json.order.customer_name }}"
            },
            {
              "name": "retry_configured",
              "value": "true"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        16
      ],
      "id": "2d61039a-9471-4692-8699-128452a1094e",
      "name": "SendRetryResult",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "# Section 2 - Debugging Practice\n\nOwned By: Gary Safin\nLast Updated: 2026-07-05\n\nMain workflow for Section 2 exercises. Tests retry configuration\nagainst a flaky API endpoint.\n\n## Nodes\n- TriggerManual: Starts the workflow\n- GetUnreliableData: Calls 50% failure rate API (retry configured)\n- SendRetryResult: Submits successful retry data\n\n## Key Configurations\n- GetUnreliableData has Retry On Fail enabled (5 tries, 1000ms wait)\n\n## Dependencies\n- Requires: n8n Academy API Key credential\n\nPart of: n8n Foundations Program, N8N103 Course - Section 2",
        "height": 592,
        "width": 528
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -224
      ],
      "id": "eebf84d0-db9e-4c69-9440-0483b28ff072",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://n8n.srv1775673.hstgr.cloud/webhook/course/n8n103/failure-test",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        16
      ],
      "id": "3a310deb-18b5-46f2-8755-68b54ee6c20c",
      "name": "TriggerFailureTest",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    }
  ],
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetUnreliableData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUnreliableData": {
      "main": [
        [
          {
            "node": "SendRetryResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendRetryResult": {
      "main": [
        [
          {
            "node": "TriggerFailureTest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "29e6be9a-b937-415d-b14f-989f48a7c911",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-05T12:27:06.304Z",
      "createdAt": "2026-07-05T12:27:06.304Z",
      "role": "workflow:owner",
      "workflowId": "I4HwLM3svEdeqHBE",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-07-03T12:24:00.721Z",
      "createdAt": "2026-07-03T12:24:00.721Z",
      "id": "WUrmOVJN8imPjuym",
      "name": "n8n103-course"
    }
  ]
}