section-2---sales-data-pipeline-n8n101.json
{
  "updatedAt": "2026-07-12T14:53:53.768Z",
  "createdAt": "2026-06-27T13:41:13.704Z",
  "id": "1SHVXPWOGsBDTO2W",
  "name": "Section 2 - Sales Data Pipeline",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        -592
      ],
      "id": "0aa03433-53d9-48bb-ae2a-6a4e5a9406d3",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/sales-data",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -672,
        -592
      ],
      "id": "b6e974d1-a19d-495a-a823-01ce1c37d0e9",
      "name": "GetSalesData",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "orders",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -464,
        -592
      ],
      "id": "cffb9a38-64a3-49ac-a0f3-b690e5f87e21",
      "name": "SplitOrders"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9880fb64-81ff-48e4-9157-b228e069e0e8",
              "name": "order_id",
              "value": "={{ $json.order_id }}",
              "type": "string"
            },
            {
              "id": "26fedfd0-87e4-4d5b-8a9a-793a8aeb6c31",
              "name": "customer_name",
              "value": "={{ $json.customer_name }}",
              "type": "string"
            },
            {
              "id": "38edece7-75fa-451b-8d9f-73400cc4e931",
              "name": "region",
              "value": "={{ $json.region }}",
              "type": "string"
            },
            {
              "id": "f94f1300-4806-4084-a9c7-7b50faa88b8f",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            },
            {
              "id": "7aa7e57b-8037-4757-803f-91ee041e3742",
              "name": "order_total",
              "value": "={{ $json.quantity * $json.unit_price }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -592
      ],
      "id": "a5660f3e-b117-46c0-9554-21fee89783c3",
      "name": "SetOrderTotals"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/process-orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "orders",
              "value": "={{$json.orders }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        320,
        -592
      ],
      "id": "175c23ae-e8dc-4cda-958b-d3dcb8a3438d",
      "name": "SendOrders",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ef743506-dee7-4af4-bdbd-c4486d1555c1",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        64,
        -320
      ],
      "id": "8ea6d11c-0051-4ead-b09e-f8787dbd9065",
      "name": "FilterDelivered"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        64,
        -592
      ],
      "id": "c32829e4-32f4-40c0-9379-3eef0d22ad40",
      "name": "AggregateOrders"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "order_total"
            },
            {
              "field": "order_total"
            },
            {
              "aggregation": "average",
              "field": "order_total"
            }
          ]
        },
        "fieldsToSplitBy": "region",
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        336,
        -384
      ],
      "id": "d816c4e5-6dc5-42f3-b434-7885d6192619",
      "name": "SummarizeByRegion"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "sum_order_total",
              "newKey": "order_totals"
            },
            {
              "currentKey": "count_order_total",
              "newKey": "order_count"
            },
            {
              "currentKey": "average_order_total",
              "newKey": "average_order_total"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        544,
        -384
      ],
      "id": "0b8a9d9d-1e16-4474-b8b0-ea8649ef473f",
      "name": "UpdateFieldNames"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "regions",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        816,
        -384
      ],
      "id": "283b65de-3463-47d5-a511-e6a5d45cf38c",
      "name": "AggregateRegions"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/validate-analysis",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "regions",
              "value": "={{$json.regions }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1056,
        -384
      ],
      "id": "16b42ce1-c14a-41fe-abd0-d817bd819756",
      "name": "SendAnalysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "54a8f79d-0090-4f1a-887e-5c1e2a41ed21",
              "name": "report_generated",
              "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "97b4bb20-d80a-4851-9719-7b6c3b373d00",
              "name": "assessment_id",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        752,
        -176
      ],
      "id": "f865d428-c416-42e2-9db6-38cec27568ec",
      "name": "SetReportMetadata"
    },
    {
      "parameters": {
        "binaryPropertyName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        960,
        -176
      ],
      "id": "b349491d-71d7-4152-b45f-2397ecdd80c1",
      "name": "ConvertToCSV"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n101/send-report",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "report",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1184,
        -176
      ],
      "id": "1402516c-f461-4068-b0d1-07818d80f211",
      "name": "SendReport",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        352,
        -144
      ],
      "id": "f1d2f1f2-c545-4882-884c-25fbf50431b2",
      "name": "ignoreNotDelivered"
    },
    {
      "parameters": {
        "content": "# Academy Section 2 Sales Data Pipeline\nCreated by: Gary Safin\nDate: 2026-06-28\nThis workflow creates the sales data pipeline including 3 branches for sending different reports and details to the data warehouse.\nPart of: n8n Foundations Course, Section 2",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        -896
      ],
      "id": "391e9c99-5cf2-40f8-8aa7-ec14e14c4732",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1008,
        -576
      ],
      "id": "e5f972ff-c26a-49e7-ae78-f487c7d78b72",
      "name": "Send a message",
      "webhookId": "8b7f4bde-cf8f-4e97-807d-2a4b25c30b0c",
      "disabled": true
    }
  ],
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetSalesData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSalesData": {
      "main": [
        [
          {
            "node": "SplitOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitOrders": {
      "main": [
        [
          {
            "node": "SetOrderTotals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetOrderTotals": {
      "main": [
        [
          {
            "node": "FilterDelivered",
            "type": "main",
            "index": 0
          },
          {
            "node": "AggregateOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterDelivered": {
      "main": [
        [
          {
            "node": "SummarizeByRegion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ignoreNotDelivered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateOrders": {
      "main": [
        [
          {
            "node": "SendOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SummarizeByRegion": {
      "main": [
        [
          {
            "node": "UpdateFieldNames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateFieldNames": {
      "main": [
        [
          {
            "node": "AggregateRegions",
            "type": "main",
            "index": 0
          },
          {
            "node": "SetReportMetadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateRegions": {
      "main": [
        [
          {
            "node": "SendAnalysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendAnalysis": {
      "main": [
        []
      ]
    },
    "SetReportMetadata": {
      "main": [
        [
          {
            "node": "ConvertToCSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ConvertToCSV": {
      "main": [
        [
          {
            "node": "SendReport",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "55e4c0b0-18b2-4ffa-8035-a1e799e5f676",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-06-27T13:41:13.709Z",
      "createdAt": "2026-06-27T13:41:13.709Z",
      "role": "workflow:owner",
      "workflowId": "1SHVXPWOGsBDTO2W",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-06-26T11:30:02.934Z",
      "createdAt": "2026-06-26T11:30:02.934Z",
      "id": "8aVQPQcvS7DRieCI",
      "name": "n8n101"
    }
  ]
}