section-2---order-webhook-processor-n8n102.json
{
  "updatedAt": "2026-07-15T08:57:43.570Z",
  "createdAt": "2026-07-14T17:31:19.328Z",
  "id": "ruAFT2rmVDFWRBEd",
  "name": "Section 2 - Order Webhook Processor",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "course/n8n102/new-order",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -896,
        -112
      ],
      "id": "f8239f10-015e-4bf2-bad2-b5878b245e6e",
      "name": "WebhookNewOrder",
      "webhookId": "e9948b7c-93e6-40b9-a75c-dca708e5de76",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "43bf4e87-9394-492e-b18a-98be17a788f9",
              "leftValue": "={{ $json.body.order_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e2ea4f94-a7ff-4c30-9163-949c421db148",
              "leftValue": "={{ $json.body.customer_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4e42972e-8e9e-444e-9bd8-b38c51029631",
              "leftValue": "={{ $json.body.total }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -688,
        -112
      ],
      "id": "7dfae04c-66ce-4450-9a2e-8e4496d841ed",
      "name": "ValidateRequiredFields"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"accepted\",\n  \"order_id\": \"{{ $('ExecuteProcessOrder').item.json.order_id }}\",\n  \"message\": \"Order processed successfully\",\n  \"stored\": {{ $('ExecuteProcessOrder').item.json.stored }},\n  \"stored_order\": {{ $('ExecuteProcessOrder').item.json.stored_order }},\n  \"processed\": true,\n  \"processing_result\": \"{{ $('ExecuteProcessOrder').item.json.processing_result }}\"\n}\n",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -96,
        -240
      ],
      "id": "780fa0b9-afac-47e3-87b3-1b85798b6b94",
      "name": "RespondSuccess"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"error\",\n  \"message\": \"Missing required fields: order_id, customer_id, and total are required\"\n}",
        "options": {
          "responseCode": 400
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -432,
        -16
      ],
      "id": "8ec023ac-0ef1-4012-8e20-44f507f7f90f",
      "name": "RespondValidationError"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "AZZmbdonGjg1EeXH",
          "mode": "id",
          "cachedResultUrl": "/workflow/AZZmbdonGjg1EeXH"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "total": "={{ $('WebhookNewOrder').item.json.body.total }}",
            "order_id": "={{ $('WebhookNewOrder').item.json.body.order_id }}",
            "customer_id": "={{ $('WebhookNewOrder').item.json.body.customer_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "order_id",
              "displayName": "order_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "customer_id",
              "displayName": "customer_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -352,
        -224
      ],
      "id": "6b5654b5-21d0-4944-a954-bbaf1c215b33",
      "name": "ExecuteProcessOrder"
    },
    {
      "parameters": {
        "content": "# Order Webhook Processor\n\nOwned By: Gary Safin\nLast Updated: 20260715\n\nReceives incoming orders via webhook, validates required fields,\nand passes to sub-workflow for processing.\n\n## Endpoints\n- POST /course/n8n102/new-order\n\n## Authentication\n- Requires X-API-Key header\n\n## Validation\n- order_id (required)\n- customer_id (required)\n- total (required)\n\nPart of: n8n Foundations Program, N8N102 Course, Section 2"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -64
      ],
      "id": "133abfee-626b-496b-8b42-bce2e87adbba",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "WebhookNewOrder": {
      "main": [
        [
          {
            "node": "ValidateRequiredFields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ValidateRequiredFields": {
      "main": [
        [
          {
            "node": "ExecuteProcessOrder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RespondValidationError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExecuteProcessOrder": {
      "main": [
        [
          {
            "node": "RespondSuccess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {
    "WebhookNewOrder": [
      {
        "json": {
          "headers": {
            "host": "n8n.srv1775673.hstgr.cloud",
            "user-agent": "n8n",
            "content-length": "59",
            "accept": "application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7",
            "accept-encoding": "gzip, compress, deflate, br",
            "content-type": "application/json",
            "x-api-key": "pFT1jtDoVHAmVan$7eb6",
            "x-forwarded-for": "4.184.78.241",
            "x-forwarded-host": "n8n.srv1775673.hstgr.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d4739c82230a",
            "x-real-ip": "4.184.78.241"
          },
          "params": {},
          "query": {},
          "body": {
            "order_id": "ORD-026",
            "customer_id": "CUST-006",
            "total": 149
          },
          "webhookUrl": "https://n8n.srv1775673.hstgr.cloud/webhook/course/n8n102/new-order",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "versionId": "1315010a-e836-4c68-abbc-ebcb5ddefa21",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-07-14T17:31:19.330Z",
      "createdAt": "2026-07-14T17:31:19.330Z",
      "role": "workflow:owner",
      "workflowId": "ruAFT2rmVDFWRBEd",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-07-14T17:32:52.138Z",
      "createdAt": "2026-07-14T17:32:52.138Z",
      "id": "AhIHtXPKk2Ksuedq",
      "name": "n8n102"
    }
  ]
}