section-1---feedback-pipeline-n8n103.json
{
  "updatedAt": "2026-07-03T13:26:24.158Z",
  "createdAt": "2026-07-02T11:51:09.341Z",
  "id": "S5jdmN7XvAAzRcFr",
  "name": "Section 1 - Feedback Pipeline",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -32
      ],
      "id": "09e9b9c7-96af-4e9d-9191-c3c7ba79c7ad",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n103/feedback",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        -32
      ],
      "id": "3e46c8a0-4bd9-4a0e-b26e-1e2182ca4e0d",
      "name": "GetFeedback",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -208,
        -32
      ],
      "id": "354fd277-8442-4290-943c-bad9b4411638",
      "name": "SetFeedbackItem"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer: {{ $json.customer_name }}\nFeedback: {{ $json.message }}\n\nClassification:\n- Sentiment: {{ $json.sentiment }}\n- Topic: {{ $json.topic }}\n- Urgency: {{ $json.urgency }}\n- Key Issue: {{ $json.key_issue }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a helpful customer service assistant.  Read the following customer feedback and write a brief, professional response acknowledging their message.  Use the classification to guide your tone: - For negative sentiment or high urgency: Be empathetic and apologetic - For positive sentiment: Be appreciative and warm - For billing or support topics: Offer specific next steps  Write a 2-3 sentence response."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        512,
        -48
      ],
      "id": "a4145294-12b2-4d51-b9d1-537480363fb6",
      "name": "GenerateReply"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "5310e179-b4c1-44ce-86c4-d8aa5996ec5b",
      "name": "gpt-oss-120b",
      "credentials": {
        "groqApi": {
          "id": "FrPnMEcF7FIEqHid",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n103/reply",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feedback_id",
              "value": "={{ $('SetClassificationResult').item.json.feedback_id }}"
            },
            {
              "name": "sentiment",
              "value": "={{ $('SetClassificationResult').item.json.sentiment }}"
            },
            {
              "name": "topic",
              "value": "={{ $('SetClassificationResult').item.json.topic }}"
            },
            {
              "name": "urgency",
              "value": "={{ $('SetClassificationResult').item.json.urgency }}"
            },
            {
              "name": "key_issue",
              "value": "={{ $('SetClassificationResult').item.json.key_issue }}"
            },
            {
              "name": "generated_reply",
              "value": "={{ $json.text }}"
            },
            {
              "name": "model_used",
              "value": "openai/gpt-oss-20b,openai/gpt-oss-120b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        848,
        -48
      ],
      "id": "f7bd73d0-14c4-4d21-aebd-e79086e8c5d7",
      "name": "SendGeneratedReply",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Customer: {{ $json.customer_name }}\nFeedback: {{ $json.message }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a customer feedback analyst.  Analyze the feedback and classify it by: 1. Sentiment: Is the customer positive, neutral, or negative? 2. Topic: Is this about billing, product, support, or general? 3. Urgency: Based on the tone and content, is this low, medium, or high urgency? 4. Key Issue: Summarize the main point in one sentence  Output Requirements  sentiment: Must be exactly one of: positive, neutral, or negative topic: Must be exactly one of: billing, product, support, or general urgency: Must be exactly one of: low, medium, or high key_issue: A one-sentence summary of the main issue or praise  Example output format:  {   \"sentiment\": \"positive\",   \"topic\": \"product\",   \"urgency\": \"low\",   \"key_issue\": \"Customer is satisfied with the product\" }"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        0,
        -32
      ],
      "id": "828e75af-be28-4639-bd18-281456e12286",
      "name": "ClassifyFeedback",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        48,
        224
      ],
      "id": "06bd4653-56ef-4cb5-b377-2c587ff396c6",
      "name": "gpt-oss-20b",
      "credentials": {
        "groqApi": {
          "id": "FrPnMEcF7FIEqHid",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sentiment\": \"positive\",\n  \"topic\": \"product\",\n  \"urgency\": \"low\",\n  \"key_issue\": \"Customer is satisfied with the product\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        192,
        208
      ],
      "id": "de6ffb1f-f470-4749-b6d6-747ff4962a35",
      "name": "OutputParser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d146ebba-de53-4f6e-8bc2-044a4debb8d8",
              "name": "feedback_id",
              "value": "={{ $('SetFeedbackItem').item.json.feedback_id }}",
              "type": "string"
            },
            {
              "id": "5ee0b277-7778-4cf0-a843-cc5a1399b08c",
              "name": "customer_name",
              "value": "={{ $('SetFeedbackItem').item.json.customer_name }}",
              "type": "string"
            },
            {
              "id": "4da773f4-1d6a-4d0a-8564-d4e0687778ce",
              "name": "message",
              "value": "={{ $('SetFeedbackItem').item.json.message }}",
              "type": "string"
            },
            {
              "id": "5bdf6660-6b44-44c3-bbb8-550a80f836af",
              "name": "sentiment",
              "value": "={{ $('ClassifyFeedback').item.json.output.sentiment }}",
              "type": "string"
            },
            {
              "id": "0e7cb60d-d14b-4eff-b51b-f3107bc3e75d",
              "name": "topic",
              "value": "={{ $('ClassifyFeedback').item.json.output.topic }}",
              "type": "string"
            },
            {
              "id": "645b0123-8e2f-4aff-ac71-163b3cf32913",
              "name": "urgency",
              "value": "={{ $('ClassifyFeedback').item.json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "a13ed623-d5ea-4496-ac44-643891d40211",
              "name": "key_issue",
              "value": "={{ $('ClassifyFeedback').item.json.output.key_issue }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        -112
      ],
      "id": "a505411e-30a6-4b3f-b259-8f14eb63b8ce",
      "name": "SetClassificationResult"
    },
    {
      "parameters": {
        "content": "# Feedback Pipeline\n\nOwned By: Gary Safin\nLast Updated: 2026-07-02\n\nFetches customer feedback from the Academy API, classifies it\nusing structured output, and generates a tailored reply.\n\n## Flow\n1. GetFeedback: Fetches feedback items from Academy endpoint\n2. SetFeedbackItem: Limits to first item for processing\n3. GenerateReply: AI generates initial response\n4. ClassifyFeedback: AI classifies sentiment, topic, urgency\n5. SetClassificationResult: Extracts parsed classification\n6. GenerateReply (updated): Produces classification-aware reply\n7. SendGeneratedReply: Posts result to Academy for grading\n\n## Model\n- Groq: llama-3.3-70b-versatile (or your preferred model)\n\n## Dependencies\n- Requires: n8n Academy API Key credential, Groq API credential\n\nPart of: n8n Foundations Course, Section 4",
        "height": 240,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -512,
        -352
      ],
      "id": "df106b5f-b765-42f7-a4ba-56e40a60dace",
      "name": "Sticky Note"
    }
  ],
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetFeedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetFeedback": {
      "main": [
        [
          {
            "node": "SetFeedbackItem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetFeedbackItem": {
      "main": [
        [
          {
            "node": "ClassifyFeedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-oss-120b": {
      "ai_languageModel": [
        [
          {
            "node": "GenerateReply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "GenerateReply": {
      "main": [
        [
          {
            "node": "SendGeneratedReply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ClassifyFeedback": {
      "main": [
        [
          {
            "node": "SetClassificationResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-oss-20b": {
      "ai_languageModel": [
        [
          {
            "node": "ClassifyFeedback",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OutputParser": {
      "ai_outputParser": [
        [
          {
            "node": "ClassifyFeedback",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "SetClassificationResult": {
      "main": [
        [
          {
            "node": "GenerateReply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "4d7b94e1-5148-4ee3-bd4c-398c9b57744a",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-02T11:51:09.351Z",
      "createdAt": "2026-07-02T11:51:09.351Z",
      "role": "workflow:owner",
      "workflowId": "S5jdmN7XvAAzRcFr",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-07-02T11:52:18.351Z",
      "createdAt": "2026-07-02T11:52:18.351Z",
      "id": "z4f7jZ0qpA5Y9sNR",
      "name": "n8n103"
    }
  ]
}