section-1---api-integration-pipeline-n8n102-course.json
{
  "updatedAt": "2026-07-13T13:10:01.663Z",
  "createdAt": "2026-07-13T11:47:19.325Z",
  "id": "AmlzQ2GHMpVo31zd",
  "name": "Section 1 - API Integration Pipeline",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        -128
      ],
      "id": "79bb8255-b217-4639-a95c-2e182f0f13c8",
      "name": "TriggerManual"
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n102/orders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            },
            {}
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "page",
                    "value": "={{ $pageCount + 1 }}"
                  }
                ]
              }
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        -224
      ],
      "id": "c3c940f9-6fb5-4ee2-9cb2-6c2e8fdd628b",
      "name": "GetOrders",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n102/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -384,
        0
      ],
      "id": "c30b6340-8555-47ba-b090-57ab69f4b524",
      "name": "GetCustomers",
      "retryOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "customer_id",
        "joinMode": "enrichInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -128,
        -128
      ],
      "id": "8e333ad5-54e0-4487-b0da-7bd0c3c1dcd4",
      "name": "MergeOrdersCustomers"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n102/orders-queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "enriched_orders",
              "value": "={{ $json.enriched_orders }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        -128
      ],
      "id": "224270e4-78b6-4c5e-a0fa-53d48672fe08",
      "name": "SendToOrdersQueue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "enriched_orders",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        80,
        -128
      ],
      "id": "f104c888-562f-43db-b8d0-ab441f2c7381",
      "name": "AggregateOrders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b52a7cde-6b41-4b95-a0cf-6a61d457c30e",
              "leftValue": "={{ $json.subscription }}",
              "rightValue": "Enterprise",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        80,
        112
      ],
      "id": "d8d11735-a653-4c30-921f-29097e05bd03",
      "name": "CheckSubscriptionTier"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.region }}",
                    "rightValue": "north",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c9b0f11a-8232-42aa-9422-d2bd06866063"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "North"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "ac168820-efcb-4576-a8fc-40a4001354fb",
                    "leftValue": "={{ $json.region }}",
                    "rightValue": "south",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "South"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9485f569-ee3e-46e5-8d51-46ce34985cbc",
                    "leftValue": "={{ $json.region }}",
                    "rightValue": "east",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "East"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "a7d4939f-f985-41fd-9ae9-a7eb9fa05b3b",
                    "leftValue": "={{ $json.region }}",
                    "rightValue": "west",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "West"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        288,
        208
      ],
      "id": "b30c58dc-71e5-4653-ac92-bbbc9c461c7f",
      "name": "RouteByRegion"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n102/priority-queue",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "order_id",
              "value": "={{ $json.order_id }}"
            },
            {
              "name": "customer_id",
              "value": "={{ $json.customer_id }}"
            },
            {
              "name": "company_name",
              "value": "={{ $json.customer_name }}"
            },
            {
              "name": "subscription",
              "value": "={{ $json.subscription }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        944,
        16
      ],
      "id": "0e96873a-27e6-4400-a687-9ae0a9bbd823",
      "name": "SendToPriorityQueue",
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        0
      ],
      "id": "58ad9a35-94a4-4097-b938-4c77cf7bb9c4",
      "name": "BatchPriorityOrders"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://learn.app.n8n.cloud/webhook/course/n8n102/finalize",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Assessment-ID",
              "value": "94c941de557ed8e767ebf9ee7b65f3ae"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "total_orders",
              "value": "={{ $('MergeOrdersCustomers').all().length }}"
            },
            {
              "name": "enterprise_count",
              "value": "={{ $('FilterDelivered').all().length }}"
            },
            {
              "name": "batch_size",
              "value": "={{$('BatchPriorityOrders').params.batchSize}}"
            },
            {
              "name": "retry_enabled",
              "value": "={{true}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        864,
        -96
      ],
      "id": "f4fad1c1-58ea-4a5b-865e-2f9220b2900b",
      "name": "FinalizePipeline",
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "18dZNFyjGYIeZSyZ",
          "name": "n8n Academy API Key"
        }
      }
    },
    {
      "parameters": {
        "content": "# API Integration Pipeline\n\nOwned By: Gary Safin\nLast Updated: 20260713\n\nFetches orders from the Academy API, enriches them with customer\ndata, routes by priority and region, and sends enterprise orders\nto a priority queue in batches.\n\n## Flow\n1. GetOrders: Fetches paginated orders from the Academy API\n2. GetCustomers: Fetches customer records (parallel with orders)\n3. MergeOrdersCustomers: Joins orders + customers on customer_id\n4. AggregateOrders + SendToOrdersQueue: Batches and sends enriched orders\n5. CheckSubscriptionTier: Splits enterprise vs other customers\n6. FilterDelivered + BatchPriorityOrders: Filters and batches enterprise orders\n7. SendToPriorityQueue: Posts priority orders to the Academy API\n8. RouteByRegion: Routes non-enterprise orders by region\n9. FinalizePipeline: Posts summary for grading\n\n## Dependencies\n- Requires: n8n Academy API Key credential\n\nPart of: n8n Foundations Program Course N8N102, Section 1"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        256
      ],
      "id": "8cfd714b-1138-4b2a-a8f3-ba4fdf0d3513",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae3064d2-978d-461e-b104-a13db25b1645",
              "name": "customer_id",
              "value": "unknown",
              "type": "string"
            },
            {
              "id": "235a6b77-d583-433b-8a99-c48aa5dd899f",
              "name": "company_name",
              "value": "Unknown Company",
              "type": "string"
            },
            {
              "id": "67a663be-3ced-46a6-977d-c8f679b3ff78",
              "name": "subscription",
              "value": "Starter",
              "type": "string"
            },
            {
              "id": "648deff1-cc6a-421c-9ea1-77b06a5affce",
              "name": "account_manager",
              "value": "Unassigned",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        96
      ],
      "id": "eea80b8e-0b59-44c7-8200-b5cbdc067f95",
      "name": "SetFallbackCustomer"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "398b6a8e-8db1-4857-96db-1e0762322675",
              "leftValue": "={{ $json.status }}",
              "rightValue": "delivered",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        368,
        16
      ],
      "id": "2e950006-74c5-49fa-9d64-0c855e024d98",
      "name": "FilterDelivered"
    }
  ],
  "connections": {
    "TriggerManual": {
      "main": [
        [
          {
            "node": "GetOrders",
            "type": "main",
            "index": 0
          },
          {
            "node": "GetCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetOrders": {
      "main": [
        [
          {
            "node": "MergeOrdersCustomers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetCustomers": {
      "main": [
        [
          {
            "node": "MergeOrdersCustomers",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "SetFallbackCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeOrdersCustomers": {
      "main": [
        [
          {
            "node": "AggregateOrders",
            "type": "main",
            "index": 0
          },
          {
            "node": "CheckSubscriptionTier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AggregateOrders": {
      "main": [
        [
          {
            "node": "SendToOrdersQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendToOrdersQueue": {
      "main": [
        []
      ]
    },
    "CheckSubscriptionTier": {
      "main": [
        [
          {
            "node": "FilterDelivered",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RouteByRegion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BatchPriorityOrders": {
      "main": [
        [
          {
            "node": "FinalizePipeline",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendToPriorityQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendToPriorityQueue": {
      "main": [
        [
          {
            "node": "BatchPriorityOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterDelivered": {
      "main": [
        [
          {
            "node": "BatchPriorityOrders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "fe56e9f3-78c6-4d8c-876b-e04d2fff4bb1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-13T11:47:19.327Z",
      "createdAt": "2026-07-13T11:47:19.327Z",
      "role": "workflow:owner",
      "workflowId": "AmlzQ2GHMpVo31zd",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "updatedAt": "2026-07-13T11:47:39.155Z",
      "createdAt": "2026-07-13T11:47:39.155Z",
      "id": "kGctRQSrKrScQlrQ",
      "name": "n8n102-course"
    }
  ]
}