workflow-backup-to-github-.json
{
  "updatedAt": "2026-07-22T10:30:34.483Z",
  "createdAt": "2026-07-22T09:53:26.846Z",
  "id": "cHVgMbVuyVxDTZ3H",
  "name": "Workflow backup to GitHub",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "0e6c4f19-1237-4a61-9e6a-78e7f6f5037a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -528,
        288
      ],
      "typeVersion": 1.2,
      "disabled": true
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {}
      },
      "id": "b8e420b5-dbaf-4bea-8ba1-90accdb0fe96",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        32,
        144
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "RfCEVbbDKOrHVbfA",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "78f20256-2bac-4786-819c-dfa6ea6852c5",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -128,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "gsafingit",
          "mode": "list",
          "cachedResultName": "gsafingit",
          "cachedResultUrl": "https://github.com/gsafingit"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup_01",
          "mode": "list",
          "cachedResultName": "n8n_backup_01",
          "cachedResultUrl": "https://github.com/gsafingit/n8n_backup_01"
        },
        "filePath": "="
      },
      "id": "456a9ca8-caa0-4700-b79f-bfba4d7d1a79",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -288,
        144
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "R2IelAa1stoZEygU",
          "name": "GitHub acct gsafingit"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": ""
        },
        "repository": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "05f3de10-b009-4814-b7f1-78b11d067a65",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        832,
        64
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gsafingit",
          "mode": "list",
          "cachedResultName": "gsafingit",
          "cachedResultUrl": "https://github.com/gsafingit"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup_01",
          "mode": "list",
          "cachedResultName": "n8n_backup_01",
          "cachedResultUrl": "https://github.com/gsafingit/n8n_backup_01"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "7aefd874-0caa-44b2-a2a1-21292ccde44c",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        832,
        224
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "R2IelAa1stoZEygU",
          "name": "GitHub acct gsafingit"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "89bb3565-25d9-4e36-a9a3-f34d9e065665",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        672,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "140e51a8-ae2e-4923-a510-baee10452b78",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        192,
        144
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "5a2a29c3-81e3-4f57-9e02-fcf6045b9341",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        352,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "ae474e3e-a3a0-4acd-b9f1-c4dec48ffded",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "6ae32d19-ebed-4f3b-811c-57e5f7c8e218",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        512,
        144
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "0c2fb641-c3e8-4e4d-869d-32aff0110343",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 460,
        "color": 4
      },
      "id": "cadc7a8d-78c5-4132-ac79-c02270e48535",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -496,
        -64
      ],
      "id": "696d4fe6-3cb1-4b6a-b195-e2cac9298262",
      "name": "TriggerManual"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TriggerManual": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "nodeGroups": [],
  "pinData": {},
  "versionId": "6d7f210a-520a-47e9-8fb0-c78f01f8aa6c",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-07-22T09:53:26.852Z",
      "createdAt": "2026-07-22T09:53:26.852Z",
      "role": "workflow:owner",
      "workflowId": "cHVgMbVuyVxDTZ3H",
      "projectId": "7yVA2UbfXRYAJ8zK"
    }
  ],
  "activeVersion": null,
  "tags": []
}